%h1 Results
  
%table
  %tr
    %th Name
    %th Number of appearances
    - @data.each do |name,count|
      %tr
        %td 
          = name
        %td 
          = count

= link_to "Add others", add_users_path